.users {
    color: #000;
}

.user {
    display: flex;
}

.avatar {
    color: #000;
}

.userPhoto {
    width: 5em;
}

.userInfo {
    display: flex;
}

.selectedPage {
    font-weight: bold;
}

.pageNumbers {
    width: 35em;
    overflow-x: scroll;
}