.header {
    grid-area: header;
    background-color: var(--main-color);
    padding: 0.5em 1em;
    display: flex;
    justify-content: space-between;
}

.header > img {
    width: 2em;    
}

.header > p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5rem;
    margin-left: 3em;
    font-weight: 700;
}

.loginBlock {
    float: right;
    display: flex;
    justify-content: flex-end;
}

.loginBlock a {
    flex: 1;
    margin-right: 1em;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
}