.contact {
    flex: 1;
}

.contactLink {
    display: block;
    text-decoration: none;
    color: rgb(95, 19, 19);
    padding: 0.5em;
    margin-right: 0.1em;
    background-color: var(--shadow-color);
}
